<!DOCTYPE html>

<html>

    <head>
        <title>Графы</title>

        <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1, maximum-scale=1">
        <script src="https://cdn.jsdelivr.net/lodash/4.17.4/lodash.min.js"></script>
        <script src="http://code.jquery.com/jquery-1.10.2.js"></script>
    <script src="http://firstvector.org/examples/jTap/plugin/jquery.tap.js"></script>

        <script src="http://cytoscape.github.io/cytoscape.js/api/cytoscape.js-latest/cytoscape.min.js"></script>
        <script src="cytoscape-edge.js"></script>

        <style>
            body {
                font-family: helvetica;
                font-size: 14px;
            }
            #cy {
                width: 100%;
                height: 100%;
                position: absolute;
                left: 0;
                top: 0;
                z-index: 999;
            }
            h1 {
                opacity: 0.5;
                font-size: 1em;
            }
            #buttons {
                position: absolute;
                right: 0;
                bottom: 0;
                z-index: 99999;
            }
        </style>

        <script>
            window.addEventListener("load", function(){
                var cy = window.cy = cytoscape({
                    container: document.getElementById('cy'),
                    ready: function(){
                    },
                    layout: {
                        name: 'grid',
                        rows: 2,
                        cols: 2
                    },
                    style: [
                        {
                            selector: 'node',
              style: {
                shape: 'round',
                'background-color': '#808000',
                label: 'data(id)',
                'text-valign': 'center',
            'color': 'white',
            'text-outline-width': 1,
            'text-outline-color': 'black'
                            }
                        },
                        // some style for the ext
                        {
                            selector: '.edgehandles-hover',
                            css: {
                                'background-color': 'red'
                            }
                        },
                        {
                            selector: '.edgehandles-source',
                            css: {
                                'border-width': 2,
                                'border-color': 'red'
                            }
                        },
                        {
                            selector: '.edgehandles-target',
                            css: {
                                'border-width': 2,
                                'border-color': 'red'
                            }
                        },
                        {
                            selector: '.edgehandles-preview, .edgehandles-ghost-edge',
                            css: {
                                'line-color': 'red',
                                'target-arrow-color': 'red',
                                'source-arrow-color': 'red'
                            }
                        }
                    ]
                });
                cy.edgehandles({
               toggleOffOnLeave: true,
               handleNodes: "node",
               handleSize: 10,
               edgeType: function(){ return 'flat'; }
             });
    var i = 0;
    var del_elem = [];
    document.querySelector('#graph-clear').addEventListener('click', function(){
        window.location.reload();
    });
    document.querySelector('#graph-info').addEventListener('click', function(){
        alert("Левая кнопка мыши на пустом поле создаёт вершину\n\nЧтобы добавить ребро нужно провести его от красного кружка сверху от вершины\n\nПравая кнопка мыши по элементу удаляет его");
    });
    document.querySelector('#graph-center').addEventListener('click', function(){
        cy.center();
    });
    document.querySelector('#graph-new').addEventListener('click', function(){
        var index = 0;
        if(del_elem.length == 0) {
            i += 1;
            index = i;
        } else {
            del_elem = del_elem.sort();
            index = del_elem[0];
            del_elem.splice(0,1);
        }
        cy.add([{
            group : "nodes",
            data : {
                id : index
            }
        }]);
    });


    cy.on('cxttap', 'node' ,function (evt) {
        cy.remove(cy.$("#" + evt.cyTarget.id()));
        del_elem[del_elem.length] = evt.cyTarget.id();
    });
    cy.on('cxttap', 'edge' ,function (evt) {
        cy.remove(cy.$("#" + evt.cyTarget.id()));
    });
    cy.on('tap', function (evt) {
        try{
        evt.cyTarget.id();
    } catch(err) {
        var index = 0;
        if(del_elem.length == 0) {
            i += 1;
            index = i;
        } else {
            del_elem = del_elem.sort();
            index = del_elem[0];
            del_elem.splice(0,1);
        }
        cy.add([{
            group : "nodes",
            data : {
                id : index
            },
            renderedPosition : {
                x: event.pageX,
                y: event.pageY
            }
        }]);
    }
    });
            });
        </script>
    </head>

    <body>
        <h1>Поиск максимальной клики</h1>
        <div id="cy"></div>
        <div id="buttons">
        <button style="background: #fdeaa8; width: 150px; height: 40px; 
        border-radius: 5px; box-shadow: 0px 1px 3px; font-size: 14px;", id="graph-clear">Очистить поле</button>
        <button style="background: #fdeaa8; width: 150px; height: 40px; 
        border-radius: 5px; box-shadow: 0px 1px 3px; font-size: 14px;", id="graph-info">Показать подсказку</button>
        <button style="background: #fdeaa8; width: 150px; height: 40px; 
        border-radius: 5px; box-shadow: 0px 1px 3px; font-size: 14px;", id="graph-center">Центрировать</button>
        <button style="background: #fdeaa8; width: 150px; height: 40px; 
        border-radius: 5px; box-shadow: 0px 1px 3px; font-size: 14px;", id="graph-new">Создать вершину</button>
        </div>
    </body>

</html>